doctype html
html(lang='en')
  head
    title Dashboard
    link(rel='stylesheet', href='/skin/dermis/normalize.css')
    link(rel='stylesheet', href='/skin/dermis/foundation.css')
    link(rel='stylesheet', href='/skin/dermis/epidermis.css')
  body
    section#simpleBarChart
    script(src='/muscle/skeletal.bundle.js')
